body {
  text-align: left;
  background-color: lightcyan;
}

 h1 {
   color: MidnightBlue;
   text-align: center;
   font-size: 45;
   font-weight: bold;
 }
img {
  align-content: center;
  width: 50%;
  height:auto;
  padding-left: 250px;
}
 h2 {
   color: purple;
   text-align: left;
   font-size: 39;
 }

 h3 {
   color: MidnightBlue;
   text-decoration: underline;
   text-align: left;
   font-size: 39;
 }

li { color: MidnightBlue;
 text-align: left;
 font-size: 39;
}

 ol {
   color: MidnightBlue;
   text-align: left;
   font size: 60;
 }

 ul {
     color: Black;
     text-align: left;
     font-size: 50;
   }
   .test-box {
     border: 4px solid red
   }
 .image {
   color: Black;
   text-align: left;
   font-size: 30;
 }
